.section_img {
  width: 100%;
  margin: 0 auto;
}
.section_img > img {
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
}

.section_img > p {
  margin-left: 330px;
  width: 50%;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.btn > button {
  width: 150px;
  height: 38px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;
  font-weight: 400;
  cursor: pointer;
}
