.cart_container {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
  height: 220px;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}

.cart_container:hover {
  transform: scale(1.1);
}

.div_img {
  grid-column: 1 / span 1;
  /* background-color: yellow; */
}

.div_img > img {
  width: 120px;
  object-fit: contain;
  margin-left: 50px;
  padding: 5px;
}

.div_details {
  grid-column: 2 / span 1;
}

.net,
.cart {
  text-align: center;
}

.net {
  margin-top: 20px;
}

.cart {
  margin-bottom: 20px;
}

.buy {
  margin-left: 47%;
  margin-top: 8px;
}

.thank_you {
  margin-left: 50px;
  width: 800px;
}

.shop_cont {
  text-decoration: none;
  width: 180px;
  height: 45px;
  cursor: pointer;
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 40%;
  border-radius: 10px;
}
