.filter {
  font-size: 20px;
  margin-top: 0px;
  float: left;
}

.clear-all {
  margin-left: 150px;
  margin-top: 35px;
  font-size: 12px;
  color: rgb(209, 199, 199);
  text-underline-offset: 5px;
}
.clear {
  clear: both;
}
.filter-cont {
  font-family: "Roboto", sans-serif;
  font-weight: 30px;
  letter-spacing: 1px;
}
/*  styles for dropdowns */
.dropdowns {
  width: 300px;
  /* position: fixed; */
  margin: 0;
  /* background-color: green; */
}
.line1 {
  border: 0.1px solid rgb(233, 227, 227);
  border-width: thin;
  height: 0px;
  width: 240px;
  margin-left: -10px;
  margin-top: 10px;
}
.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 15px;
  width: 80%;
  border: none;
  margin-left: -14px;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 55px;
}
.active:after {
  content: "\2212";
}
.content {
  max-height: 0px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 200%;
  /* line-height-step: 20px; */
  transition: max-height 0.2s;
  max-width: 30%;
}
.line2 {
  border: 0.1px solid rgb(233, 227, 227);
  border-width: thin;
  height: 0px;
  width: 240px;
  margin-left: -10px;
  margin-top: 4px;
}

.main_prod_container {
  display: grid;
  grid-template-columns: 23% 70%;
  grid-template-rows: auto auto;
}

.main_prod_container > .filter_container {
  grid-column: 1 / span 1;
  background-color: pink;
}

.main_prod_container > .test {
  grid-column: 2 / span 1;
  /* background-color: yellow; */
  margin-top: 70px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  height: 320px;
  grid-gap: 20px;
  row-gap: 25px;
  justify-content: space-around;
}

.product_cards {
  width: 100%;
  border-radius: 15px;
  height: 100%;
  padding: 10px;
  /* margin: 8px 5px; */
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product_cards:hover {
  transform: scale(1.1);
}

.product_cards > img {
  width: 243px;
  height: 220px;
  object-fit: contain;
  /* margin: 15px; */
  padding: 2px;
}

.product_cards > p {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
}

.shop_category {
  text-align: center;
  margin: 15px;
}
